*{
  margin: 0;
  padding: 0;
}

body{
  /* min-height: 100vh; */
  background-color: #F6F4EB;
}

#root {
  position: relative;
  /* min-height: 100vh; */
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

header {
  background-color: #461959;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F6F4EB;
  margin-bottom: 20px;
}

#logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.btn {
  color: #F6F4EB;
  cursor: pointer;
  font-size:1.05rem;
  font-weight: 700;
  line-height: 30px;
  padding: 10px 20px;
  margin: 2rem; 
  background-color: #65317c;
  border: 1px #4682A9 solid;
  border-radius: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

input{
  font-size: 1.25rem;
  width: 50%;
  padding: 10px;
}

form .btn {
  background-color: #6d2b8a;
}

.compare-div {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-basis: 1;
}

.forms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.forms form {
  width: 100%;
}

#username1, #username2 {
  width: 70%;
}

.data-display{
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 30px;
}

.data-display h2{
  text-align: center;
}

.problems {
  display: flex;
  justify-content: space-between;
}

.compare-data{
  display: flex;
  justify-content: space-around;
}

.footer {
  width: 100%;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  background-color: #eae7d9;
}

@media screen and (max-width: 450px) {
  .compare-div{
    display: block;
  }
}